<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background="http://img14.deviantart.net/ada8/i/2011/110/c/c/sound_wave_white_wallpaper_by_avaldive-d3egfjm.png">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/videos">Videos</a></li>
	        		<li><a href="/songs">Songs</a></li>
	        		<li><a href="/board">Message board</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:86maylin@gmail.com">email</a></li>
	        		<li><a href="https://github.com/86maylin">github.com/86maylin</a></li>
				</ul>
			</footer>
		</body>
	</html>
